/* stylelint-disable string-quotes */
/* common style, like: float、align、flex、padding、margin */
.color-primary:not(.is-disabled) {
  color: var(--el-color-primary) !important;
  &:hover {
    color: var(--el-color-primary) !important;
  }
}
.color-success:not(.is-disabled) {
  color: var(--el-color-success) !important;
  &:hover {
    color: var(--el-color-success) !important;
  }
}
.color-warning:not(.is-disabled) {
  color: var(--el-color-warning) !important;
  &:hover {
    color: var(--el-color-warning) !important;
  }
}
.color-error:not(.is-disabled) {
  color: var(--el-color-error) !important;
  &:hover,
  :focus {
    color: var(--el-color-error) !important;
  }
}
.color-grey:not(.is-disabled) {
  color: var(--el-color-info) !important;
  &:hover,
  :focus {
    color: var(--el-color-info) !important;
  }
}
// 常用颜色类
.text {
  &-color {
    &-primary {
      color: var(--el-color-primary);
    }
    &-blue {
      color: #3d82f1;
    }
    &-green {
      color: var(--el-color-success);
    }
    &-orange {
      color: var(--el-color-warning);
    }
    &-red {
      color: var(--el-color-danger);
    }
    &-grey {
      color: var(--el-color-info);
    }
  }
}
.slide-enter-from,
.slide-leave-to {
  // （动画开始前，移除后）
  opacity: 0;
  transform: translateY(-20px);
}
.slide-leave-from,
.slide-enter-to {
  // （动画完成后，移除前）
  opacity: 1;
  transform: translateY(0);
}
.slide-enter-active,
.slide-leave-active {
  // （动画开始和移除的过度状态）
  transition: all 0.5s;
}
.clear-dialog-body-padding {
  .el-dialog__body {
    padding: 0 !important;
  }
}
.clear-dialog-header-padding {
  .el-dialog__header {
    padding: 0 !important;
  }
}
// 清楚 dialog-inner-scroll 中 max-height 的限制,导致全屏时只有80Vh
.clear-dialog-inner-scroll {
  max-height: 100% !important;
}
.clear-dialog-footer-padding {
  .el-dialog__footer {
    padding: 0 !important;
  }
}
.required {
  &::before {
    content: '*';
    margin-right: 4px;
    color: var(--el-color-danger);
  }
}
.must-icon__red::before {
  content: '*';
  color: var(--el-color-danger);
  margin-right: 4px;
}
// mobile devices was hided
@media only screen and (width <= 575px) {
  .hide-in-mobile {
    display: none !important;
  }
}

// 自定义头部tabs 样式
.header-tabs {
  &.el-tabs {
    padding-left: 15px;
    padding-right: 15px;
    // margin-bottom: 10px;
    // background-color: #f5f2f5;
    .el-tabs__nav-wrap {
      &::after {
        background-color: transparent;
      }
    }
    .el-tabs__header {
      margin-bottom: 10px;
      .el-tabs__item {
        height: 30px;
        line-height: 30px;
      }
    }
  }
}

// 旧plm图片样式
.img-thumbnail,
.img-thumbnail__table {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.img-thumbnail__table {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
