<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tiangong.sdp.mapper.DesignLogMapper">
    <resultMap id="default" type="tech.tiangong.sdp.entity.DesignLog">
    <id column="design_log_id" property="designLogId" jdbcType="BIGINT"/>
    <result column="biz_id" property="bizId" jdbcType="BIGINT"/>
    <result column="biz_type" property="bizType" jdbcType="VARCHAR"/>
    <result column="prototype_id" property="prototypeId" jdbcType="BIGINT"/>
    <result column="style_code" property="styleCode" jdbcType="VARCHAR"/>
    <result column="design_code" property="designCode" jdbcType="VARCHAR"/>
    <result column="version_num" property="versionNum" jdbcType="INTEGER"/>
    <result column="biz_version_num" property="bizVersionNum" jdbcType="INTEGER"/>
    <result column="content" property="content" jdbcType="VARCHAR"/>
    <result column="creator_id" property="creatorId" jdbcType="BIGINT"/>
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
    
    </resultMap>
    <sql id="biz_columns">
    biz_id,
    biz_type,
    prototype_id,
    style_code,
    design_code,
    version_num,
    biz_version_num,
    content,
    creator_id,
    creator_name
    </sql>
    <sql id="updateSet">
        <set>
                <if test="bean.bizId != null or nullNumber == true">
                    biz_id=#{bean.bizId,jdbcType=BIGINT},
                </if>
                <if test="bean.bizType != null">
                    biz_type=#{bean.bizType,jdbcType=VARCHAR},
                </if>
                <if test="bean.prototypeId != null">
                    prototype_id=#{bean.prototypeId,jdbcType=BIGINT},
                </if>
                <if test="bean.styleCode != null">
                    style_code=#{bean.styleCode,jdbcType=VARCHAR},
                </if>
                <if test="bean.designCode != null">
                    design_code=#{bean.designCode,jdbcType=VARCHAR},
                </if>
                <if test="bean.versionNum != null or nullNumber == true">
                    version_num=#{bean.versionNum,jdbcType=INTEGER},
                </if>
                <if test="bean.bizVersionNum != null or nullNumber == true">
                    biz_version_num=#{bean.bizVersionNum,jdbcType=INTEGER},
                </if>
                <if test="bean.content != null">
                    content=#{bean.content,jdbcType=VARCHAR},
                </if>
                <if test="bean.creator != null">
                    creator_id=#{bean.creatorId,jdbcType=BIGINT},
                </if>
                <if test="bean.creatorName != null">
                    creator_name=#{bean.creatorName,jdbcType=VARCHAR},
                </if>
        </set>
    </sql>

    <sql id="whereSet">
        <where>
                    <if test="designLogId != null and designLogId != ''">
                        and  design_log_id=#{designLogId,jdbcType=BIGINT}
                    </if>
                        <if test="bizId != null">
                            and  biz_id=#{bizId,jdbcType=BIGINT}
                        </if>
                        <if test="bizType != null and bizType != ''">
                            and  biz_type=#{bizType,jdbcType=VARCHAR}
                        </if>
                        <if test="prototypeId != null">
                            and  prototype_id=#{prototypeId,jdbcType=BIGINT}
                        </if>
                        <if test="styleCode != null and styleCode != ''">
                            and  style_code=#{styleCode,jdbcType=VARCHAR}
                        </if>
                        <if test="designCode != null and designCode != ''">
                            and  design_code=#{designCode,jdbcType=VARCHAR}
                        </if>
                        <if test="versionNum != null">
                            and  version_num=#{versionNum,jdbcType=INTEGER}
                        </if>
                        <if test="bizVersionNum != null">
                            and  biz_version_num=#{bizVersionNum,jdbcType=INTEGER}
                        </if>
                        <if test="content != null and content != ''">
                            and  content=#{content,jdbcType=VARCHAR}
                        </if>
                        <if test="creator != null">
                            and  creator_id=#{creatorId,jdbcType=BIGINT}
                        </if>
                        <if test="creatorName != null and creatorName != ''">
                            and  creator_name=#{creatorName,jdbcType=VARCHAR}
                        </if>
                        <if test="createdTime != null">
                            and  created_time=#{createdTime,jdbcType=TIMESTAMP}
                        </if>
        </where>
    </sql>

    <insert id="batchInsert">
        <![CDATA[
        insert into design_log (
        design_log_id, created_time, creator_id,
        ]]><include refid="biz_columns"/><![CDATA[
        ) values ]]>
        <foreach item="column" index="index" collection="array" separator=",">
        <![CDATA[
        (
        #{column.designLogId,jdbcType=BIGINT}, now(), #{column.creatorId,jdbcType=VARCHAR},#{column.bizId,jdbcType=BIGINT},
    #{column.bizType,jdbcType=VARCHAR},
    #{column.prototypeId,jdbcType=BIGINT},
    #{column.styleCode,jdbcType=VARCHAR},
    #{column.designCode,jdbcType=VARCHAR},
    #{column.versionNum,jdbcType=INTEGER},
    #{column.bizVersionNum,jdbcType=INTEGER},
    #{column.content,jdbcType=VARCHAR},
    #{column.creatorId,jdbcType=BIGINT},
    #{column.creatorName,jdbcType=VARCHAR}
        )
        ]]>
        </foreach>
    </insert>


    <delete id="deleteByKeys">
        <![CDATA[
        delete from design_log where id in
        ]]>
        <foreach item="pk" index="index" collection="array" open="(" separator="," close=")">
            <![CDATA[#{pk,jdbcType=BIGINT}]]>
        </foreach>
    </delete>

    <select id="findDataList" resultType="tech.tiangong.sdp.entity.DesignLog">
        select * from design_log <include refid="whereSet"/>
    </select>
    <select id="findDataCount" resultType="java.lang.Integer">
        select count(*) from design_log <include refid="whereSet"/>
    </select>

</mapper>