<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tiangong.sdp.mapper.DesignStyleMapper">


    <select id="listByStyleCodesAndMaterialType" resultType="tech.tiangong.sdp.entity.DesignStyle">
        SELECT
        *
        FROM
        design_style style
        INNER JOIN design_style_material material ON material.style_code = style.style_code
        WHERE
        style.deleted = 0
        AND material.deleted = 0
        <if test="styleCodeList!=null and styleCodeList.size() > 0 ">
            AND material.style_code in
            <foreach collection="styleCodeList" item="styleCode" index="index" open="(" close=")" separator=",">
                #{styleCode}
            </foreach>
        </if>
        AND material.material_type =#{materialType};
    </select>
</mapper>

