<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tiangong.sdp.mapper.DesignStyleMaterialMapper">


    <delete id="deletedByStyleCodes">
        DELETE FROM design_style_material
        WHERE deleted = 0
        <choose>
            <when test="styleCodes != null and styleCodes.size > 0">
                AND style_code IN
                <foreach collection="styleCodes" item="styleCode" open="(" close=")" separator=",">
                    #{styleCode}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </delete>

    <delete id="deletedByStyleIds">
        DELETE FROM design_style_material
        WHERE deleted = 0
        <choose>
            <when test="styleIds != null and styleIds.size > 0">
                AND design_style_id IN
                <foreach collection="styleIds" item="styleId" open="(" close=")" separator=",">
                    #{styleId}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </delete>

    <delete id="deletedByStyleCodesAndType">
        DELETE FROM design_style_material
        WHERE deleted = 0 and material_type =#{materialType}
        <choose>
            <when test="styleCodes != null and styleCodes.size > 0">
                AND style_code IN
                <foreach collection="styleCodes" item="styleCode" open="(" close=")" separator=",">
                    #{styleCode}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </delete>


    <delete id="deletedByStyleIdsAndType">
        DELETE FROM design_style_material
        WHERE deleted = 0 and material_type =#{materialType}
        <choose>
            <when test="styleIds != null and styleIds.size > 0">
                AND design_style_id IN
                <foreach collection="styleIds" item="styleId" open="(" close=")" separator=",">
                    #{styleId}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </delete>


</mapper>

