<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tiangong.sdp.mapper.DevelopStyleTaskMapper">
    <!-- 使用自定义结果对象 -->
    <select id="selectGroupByTaskStatus" resultType="tech.tiangong.sdp.vo.dto.DevelopStyleStateGroupDTO"
            parameterType="tech.tiangong.sdp.vo.query.DevelopStyleTaskQuery">
        SELECT
        task_status AS taskStatus,
        COUNT(*) AS total
        FROM develop_style_task WHERE deleted=0
        <if test="req.taskStatus != null">
            AND task_status = #{req.taskStatus}
        </if>
        <if test="req.identifyStatus != null">
            AND ai_task_status = #{req.identifyStatus}
        </if>
        <if test="req.tenantId != null">
            AND tenant_id = #{req.tenantId}
        </if>
        <if test="req.createdStartTime != null">
            AND created_time &gt;= #{req.createdStartTime}
        </if>
        <if test="req.createdEndTime != null">
            AND created_time &lt;= #{req.createdEndTime}
        </if>
        <if test="req.creatorName != null and req.creatorName != ''">
            AND creator_name LIKE CONCAT('%', #{req.creatorName}, '%')
        </if>
        <if test="req.styleLabelCode != null and req.styleLabelCode != ''">
            AND style_label_code LIKE CONCAT('%', #{req.styleLabelCode}, '%')
        </if>
        <if test="req.checkStartTime != null">
            AND check_time &gt;= #{req.checkStartTime}
        </if>
        <if test="req.checkEndTime != null">
            AND check_time &lt;= #{req.checkEndTime}
        </if>
        <if test="req.categoryCodes != null and req.categoryCodes.size() > 0">
            AND
            <foreach collection="req.categoryCodes" item="code" open="(" close=")" separator="OR">
                category_code LIKE CONCAT('%',#{code}, '%')
            </foreach>
        </if>
        <if test="req.wavebandCodes != null and req.wavebandCodes.size() > 0">
            AND waveband_code IN
            <foreach collection="req.wavebandCodes" item="code" open="(" close=")" separator=",">
                #{code}
            </foreach>
        </if>
        <if test="req.storeIds != null and req.storeIds.size() > 0">
            AND store_id IN
            <foreach collection="req.storeIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="req.relaTypes != null and req.relaTypes.size() > 0">
            AND rela_type IN
            <foreach collection="req.relaTypes" item="type" open="(" close=")" separator=",">
                #{type}
            </foreach>
        </if>
        <if test="req.styleTypes != null and req.styleTypes.size() > 0">
            AND style_type IN
            <foreach collection="req.styleTypes" item="type" open="(" close=")" separator=",">
                #{type}
            </foreach>
        </if>
        <if test="req.creatorIds != null and req.creatorIds.size() > 0">
            AND creator_id IN
            <foreach collection="req.creatorIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="req.spuCodes != null and req.spuCodes.size() > 0">
            AND spu_code IN
            <foreach collection="req.spuCodes" item="code" open="(" close=")" separator=",">
                #{code}
            </foreach>
        </if>
        <if test="req.taskCodes != null and req.taskCodes.size() > 0">
            AND task_code IN
            <foreach collection="req.taskCodes" item="code" open="(" close=")" separator=",">
                #{code}
            </foreach>
        </if>
        <if test="req.styleCheckerId != null">
            AND style_checker_id = #{req.styleCheckerId}
        </if>
        GROUP BY task_status
    </select>
</mapper>

