<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tiangong.sdp.mapper.PlmSdpStyleRelaMapper">

    <update id="updateTaskId">
        UPDATE plm_sdp_style_rela
        SET task_id = #{prototypeIdNew}
        where task_id = #{prototypeIdOld}
    </update>
</mapper>

