<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tiangong.sdp.mapper.SpotStyleSupplierMapper">

    <select id="listBySupplierStyleCodeAndNames" resultType="tech.tiangong.sdp.entity.SpotStyleSupplier">
        SELECT
        *
        FROM spot_style_supplier
        WHERE deleted = 0
        AND (supplier_name, supplier_style_code) IN
        <foreach collection="reqs" item="req" open="(" close=")" separator=",">
            (#{req.supplierName}, #{req.supplierStyleCode})
        </foreach>
    </select>
</mapper>

