<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tiangong.sdp.mapper.StyleSkcSkuMapper">

    <select id="selectVoBySkcIds" resultType="tech.tiangong.sdp.vo.resp.StyleSkcSkuVo">
        SELECT sss.*,p.design_code skcCode
        FROM
        style_skc_sku sss
        INNER JOIN prototype p ON p.prototype_id = sss.skc_id
        WHERE
        sss.deleted = 0
        <if test="skcIds!=null and skcIds.size() > 0" >
            AND sss.skc_id in
            <foreach collection="skcIds" item="skcId" index="index" open="(" close=")" separator=",">
                #{skcId}
            </foreach>
        </if>
    </select>

    <delete id="deleteBySkuIds" >
        update style_skc_sku set deleted = 1 where sku_id in
        <foreach collection="skuIds" item="skuId" index="index" open="(" close=")" separator=",">
            #{skuId}
        </foreach>
    </delete>
</mapper>

