<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tiangong.sdp.mapper.TemuAccessLogMapper">
    <delete id="delId">
        DELETE
        FROM temu_access_log
        WHERE log_id = #{id}
    </delete>
</mapper>

