.input-with-select{
  :global{
    .el-select{
      .el-input__inner{
        width: 100%;
      } 
    }
  }
}
.wrap {
  display: flex;
  position: relative;
  width: 100%;
  padding-right: 14px;
  .btns {
    display: flex;
    margin-left: 50px;
  }
}