@font-face {
  font-family: "iconfont"; /* Project id 4164600 */
  src: url("iconfont.woff2?t=17206947543917") format("woff2");
}

@font-face {
  font-family: "iconfont-add";
  src: url('new_iconfont.woff2?t=1760442387417') format('woff2'),
       url('new_iconfont.woff?t=1760442387417') format('woff'),
       url('new_iconfont.ttf?t=1760442387417') format('truetype');
}

.font_family, .iconfont-add {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-changjingguanli:before {
  content: "\e60b";
}

.icon-xuankuan:before {
  content: "\e608";
}

.icon-lgzx:before {
  content: "\e607";
}

.icon-smyh:before {
  content: "\e605";
}

.icon-mind:before {
  content: "\e604";
}

.icon-qsrd:before {
  content: "\e606";
}

.icon-jichupeizhi:before {
  content: "\e62b";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-shejizhongxin:before {
  content: "\e721";
}

.icon-yichangguanli:before {
  content: "\e7a6";
}

.icon-ic_jinduguanli:before {
  content: "\e62e";
}

.icon-qiyeshejizhongxin:before {
  content: "\e62a";
}

.icon-ziyuanku:before {
  content: "\e645";
}

.icon-gongchangguanli:before {
  content: "\e64f";
}

.icon-xiugaimima:before {
  content: "\e728";
}

.icon-tuichu:before {
  content: "\e72b";
}

.icon-qiehuan:before {
  content: "\e731";
}

.icon-caiwuguanli:before {
  content: "\e612";
}

.icon-tmtj:before {
  content: "\e755";
}

/* 新图标：使用第二个字体 */
.iconfont-add {
  font-family: "iconfont-add" !important;
}
.icon-gongju:before { content: "\e648"; }