@use '../theme/default' as *;
*[contenteditable] {
  user-select: auto !important;
}
*:focus {
  outline: none;
}
input,
textarea,
select {
  outline: none;
  resize: none;
  background-color: transparent;
  text-size-adjust: 100%;
  appearance: none;
}
ul,
ol {
  // 会影响富文本组件无序列表、有序列表，所以注释掉
  // list-style: none;
  // padding: 0;
  // margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  font-weight: 400;
}
p {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
html {
  background-color: var(--el-bg-color);
  height: 100%;
  text-size-adjust: 100%;
}
html {
  font-size: 14px;
  line-height: 1.15;
  box-sizing: border-box;
  height: 100%;
}
body {
  min-width: 900px;
  height: 100%;
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: var(--font-size-base);
  color: var(--el-color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  height: 100%;
}
a {
  text-decoration: none;
  outline: none;
  color: var(--el-color-primary);
  &:hover {
    color: var(--el-color-primary-light-3);
  }
  &:active {
    color: var(--el-color-primary-light-3);
  }
}
img {
  max-width: 100%;
}
code {
  display: block;
  padding: 15px 16px;
  background: #eef1f6;
  margin-bottom: 20px;
  line-height: 36px;
  font-size: 15px;
  font-family: Consolas, Menlo, Courier, monospace;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
// wangEditor预览默认样式
.editor-content-view {
  word-break: break-all;
}
.editor-content-view p,
.editor-content-view li {
  white-space: pre-wrap; /* 保留空格 */
}
.editor-content-view blockquote {
  padding: 10px;
  border-left: 8px solid #d0e5f2;
  margin: 10px 0;
  background-color: #f1f1f1;
}
.editor-content-view code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
  border-radius: 3px;
}
.editor-content-view pre>code {
  display: block;
  padding: 10px;
}
.editor-content-view table {
  border-collapse: collapse;
}
.editor-content-view td,
.editor-content-view th {
  height: 20px;
  border: 1px solid #ccc;
  min-width: 50px;
}
.editor-content-view th {
  background-color: #f1f1f1;
}
.editor-content-view ul,
.editor-content-view ol {
  padding-left: 20px;
}
.editor-content-view input[type='checkbox'] {
  margin-right: 5px;
}
.sc-app-layout-menu-icon {
  font-size: 18px !important;
}
.el-menu--vertical.el-menu--collapse {
  .el-sub-menu__icon-arrow {
    display: none !important;
  }
}