/* 设计模块 公共样式 */
$gap: 15px;
$width: 100px;
$radius: 3px;
$primary-color: #197afa;
$wrong-color: #d9001b;
$error: #f56c6c;
$warning: #e6a23c;
$warning-color: #e6a23c;
.form-error {
  box-shadow: 0 0 4px #f56c6c;
}
:deep(.number-dict) {
  display: flex;
  .el-input__inner {
    width: $width;
  }
  .el-input-number--small {
    width: $width;
  }
}
/* 背景 */
.back {
  padding: $gap;
  background: #f2f7fb;
  margin-bottom: $gap;
  border-radius: $radius;
  padding-top: 20px;
}
/* 标题 */
dl.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  dt {
    font-size: 18px;
    font-weight: bold;
  }
}
/* 表格操作栏 */
.operations-table {
  display: flex;
  i {
    font-size: 16px;
    margin-right: 10px;
    color: #409eff;
    cursor: pointer;
  }
  .el-icon-delete-solid,
  .el-icon-close {
    color: #f56c6c;
  }
}
/* 页面操作栏 */
.operations-back {
  display: flex;
  // width:100%;
  i {
    font-size: 32px;
    margin-right: 16px;
    color: #409eff;
    cursor: pointer;
  }
  .el-icon-delete-solid,
  .el-icon-close {
    color: #f56c6c;
  }
}
.el-form-line {
  padding-top: 18px;
  border-radius: $radius;
  border-top: 1px dashed #409eff;
}
/* 页面按钮区 */
.page-operation-buttons {
  display: flex;
  padding: 40px 0;
  justify-content: flex-end;
}
.cursor-pointer {
  cursor: pointer;
}
.design-text-primary {
  color: $primary-color;
}
.design-text-wrong {
  color: $wrong-color;
}
//鼠标移入高亮
.hover-height-light {
  &-primary:hover {
    color: $primary-color;
  }
}
//el-table中头部必填*标识
:deep(.is-th-required > div[class='cell']::before) {
  content: '*';
  //font-size: 1em;
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 14px;
  font-weight: 300;
  color: red;
}

//必填*标识样式
.require-star {
  font-size: 14px;
  font-weight: 300;
  color: red;
  margin-right: 4px;
}
/* app 布局 fheader筛选表单 */
.app-fheader-custom-form {
  :deep(.el-form-item__content),
  :deep(.el-select) {
    width: 300px;
  }
}
/* tag */
// 补做
.supple-tag {
  background: #edd9ff;
  color: #8400ff;
  border-color: #edd9ff;
}
/* el-form-item 个性content */
.switch-label {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  dt {
    :deep(.el-select) {
      width: 100px !important;
      margin-right: 10px;
    }
  }
  dd {
    display: flex;
    :deep(.el-input) {
      width: 45%;
    }
    p {
      width: 10%;
      text-align: center;
    }
  }
}
/*  颜色 边框 */
%level-1 {
  border: 1px solid #dcdfe6;
  color: #303133;
}
%level-2 {
  border: 1px solid #e4e7ed;
  color: #606266;
}

%button-normal {
  transition: 0.2s;
  @extend %level-2;
}

%button-hover {
  transition: 0.2s;
  @extend %level-1;
}
.custom-form-item {
  display: flex;
  line-height: 32px;
  margin-bottom: 18px;
  dt {
    text-align: right;
  }
}
/* el-img 图片尺寸 */
.img-80 {
  width: 80px;
  height: 80px;
}
.img-60 {
  width: 60px;
  height: 60px;
}

//操作日志抽屉样式
:deep(.el-drawer__header) {
  padding: $gap;
  margin-bottom: 0;
  color: #303133;
  & span {
    font-weight: bold;
    font-size: 18px;
  }
}
.el-drawer__body .el-timeline {
  padding: $gap;
}
.design-text-color {
  &-warning {
    color: $warning-color;
  }
}
.no-img {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 247, 250);
  color: #c0c4cc;
}
.cancel-card {
  line-height: 30px;
  // dt{
  //   font-weight: bold;
  // }
}
/* 描述列表 */
.desc-lis {
  padding: 0;
  li {
    display: flex;
    line-height: 22px;
    b {
      font-weight: bold;
      &::after {
        content: '：';
      }
    }
  }
}
.bw-80 {
  b {
    display: inline-block;
    min-width: 80px;
    text-align: right;
  }
}
.bw-100 {
  b {
    display: inline-block;
    min-width: 100px;
    text-align: right;
  }
}
:deep(.el-input.is-disabled .el-input__inner) {
  color: #333;
}
:deep(.el-textarea.is-disabled .el-textarea__inner) {
  color: #333;
}
:deep(.el-radio__input.is-disabled + span.el-radio__label) {
  color: #333;
}
